<div class="wrapper mat-elevation-z4">
  <h1>Меня зовут Егор и на этом проекте можно увидеть мои попытки в:</h1>
  <ul class="root-ul">
    <li>Фронтэнд:
      <ul class="ul__frontend">
        <li>материал</li>
        <li>директивы</li>
        <li>интерсептор</li>
        <li>стор на сервисе</li>
        <li>modules preloading</li>
        <li>modules lazy loading</li>
        <li>динамические компоненты</li>
      </ul>
    </li>
    <li>Бекэнд:
      <ul class="ul__backend">
        <li>nestjs</li>
        <li>mongodb</li>
        <li>docker для бд</li>
      </ul>
    </li>
  </ul>

  <h2>Подробнее:</h2>
  <p>Делая проект, я пытался сделать фокус на архитектуре приложения (это и съедало мое время в основном).
    Не исключено, что с точки зрения архитектуры тут есть большие изъяны. Помимо обычно реализации компонентов материала,
    на проекте реализован динамический заголовок, завизимый от текущей страницы. Директивы можно увидеть в попапе,
    который вызывается в момент ошибки http запроса и в песочнице. Интерсептор перехватывает все http запросы и переносит
    их в стор приложения. У стора есть абстрактный класс, согласно которому тот должен реализовывать свое поведение. Проект
    также использует ленивую загрузку модулей с настроеным прелоудом</p>
</div>