<mat-grid-list rowHeight="100px"
  gutterSize="75px"
  cols="3">
  <mat-grid-tile>
    <button mat-raised-button
      color="primary"
      (click)="onGetUsers()">
      Get mock data
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-raised-button
      color="warn"
      (click)="onGetFaultReq()">
      Get error
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-raised-button
      color="accent"
      (click)="onFaultLogin()">
      Get fault login
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list gutterSize="75px"
  cols="3">

  <mat-grid-tile *ngFor="let user of users">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{ user.first_name }}</mat-card-title>
        <mat-card-subtitle>{{ user.last_name }}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image
        src="{{ user.avatar }}"
        alt="{{ user.email }}">

      <mat-card-content>
        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita?
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>