@import '~@angular/material/theming';

$mat-darker-primary-color: mat-color($mat-indigo, 700);

:host {
  font-size: 20px;
}

.sidenav {
  width: 250px;

  &__container {
    height: 100%;
  }

  &__footer {
    align-self: center;
    font-size: 12px;
    color: mat-color($mat-indigo, 200);
  }
}

.nav-list__wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 90%;
}

.li_selected {
  color: $mat-darker-primary-color;
}
