<mat-sidenav-container class="sidenav__container">
  <mat-sidenav class="sidenav"
    mode="side">
    <mat-nav-list>

      <mat-list-item *ngFor="let route of navigationsRoutes"
        routerLink="{{ route.link }}"
        routerLinkActive="nav-item_active"
        [routerLinkActiveOptions]="{exact: true}">
        <fa-icon mat-list-icon
          [fixedWidth]="true"
          [icon]="route.icon"></fa-icon>
        <a mat-line>{{ route.title }}</a>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content class="sidenav__content">

    <fa-icon class="nav-toggler"
      (click)="changeSidebarState()"
      [icon]="faIcon"
      pull="left"
      [size]="'lg'"></fa-icon>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>