@import '~@angular/material/theming';

$mat-darker-primary-color: mat-color($mat-indigo, 700);

:host {
  font-size: 20px;
}

.sidenav {
  width: 250px;

  &__container {
    height: 100%;
  }

  &__nav-list {
    padding-bottom: 580px;
  }

  &__footer {
    text-align: center;
    font-size: 12px;
    color: mat-color($mat-indigo, 200);
  }
}

.li_selected {
  color: $mat-darker-primary-color;
}
