@import '~@angular/material/theming';

:host {
  font-size: 20px;
}

.sidenav {
  width: 250px;

  &__container {
    height: 100%;
  }
}

.router {
  margin: 20px 15px;
}

.nav-item_active {
  color: mat-color($mat-indigo, 700);
}
