<mat-sidenav-container class="sidenav__container">
  <mat-sidenav #sideNav
    class="sidenav">
    <mat-toolbar color='primary'>
      Дайте деняк T_T
    </mat-toolbar>

    <div class="nav-list__wrapper">
      <mat-nav-list>
        <mat-list-item *ngFor="let route of navigationsRoutes"
          (click)='sideNav.close()'
          routerLink="{{ route.link }}"
          routerLinkActive="li_selected"
          [routerLinkActiveOptions]="{exact: true}">
          <fa-icon mat-list-icon
            [fixedWidth]="true"
            [icon]="route.icon"></fa-icon>
          <span mat-line>{{ route.title }}</span>
        </mat-list-item>
      </mat-nav-list>

      <div class=sidenav__footer>
        <span>ну пожалуйста</span>
        <br>
        <span>Work in progress</span>
      </div>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button
        (click)='sideNav.toggle()'>
        <mat-icon *ngIf="sideNav.opened">chevron_left</mat-icon>
        <mat-icon *ngIf="!sideNav.opened">menu</mat-icon>
      </button>
      <span>{{ headerTitle }}</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>