<nav mat-tab-nav-bar>
  <a mat-tab-link
    routerLink="mock-http"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">Mock http
  </a>
  <a mat-tab-link
    routerLink="host-listener"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">Host listener
  </a>
  <a mat-tab-link
    routerLink="interceptor-logger"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">Interceptor logger
  </a>
</nav>

<router-outlet></router-outlet>