<p>sandbox works!</p>
<div routerLink="host-listener">Host listener</div>
<div routerLink="interceptor-logger">Interceptor logger</div>
<button mat-button
  (click)="onGetUsers()">
  Get data
</button>
<button mat-button
  (click)="onGetFaultReq()">
  Get error
</button>
<router-outlet></router-outlet>

<div class="users">
  <div *ngFor="let user of users">
    <img src="{{ user.avatar }}"
      alt="{{ user.email }}">
    <div>
      <span>{{ user.first_name }}</span>
      <span>{{ user.last_name }}</span>
    </div>
    <div>{{ user.email }}</div>
  </div>
</div>